* {
    box-sizing: border-box;
}
body {
    background-color: rgb(34, 34, 34);
}
.title {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: bjpg;
}
h1 {
    margin: 0 auto;
    font-size: 40px;
}
.about {
   margin-left: 20%;
   margin-right: 20%;
}
p {
    text-align: center;
    color: rgb(192, 198, 204);
    font-family: bjpg;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}
.social ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
li {
    float: inline-start;
    background-color: rgb(70, 70, 70);
    border-radius: 50%;
    height: 43px;
    width: 43px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:first-of-type {
    margin-left: 0;
}
li:hover {
    background-color: rgb(132, 132, 132);
}
svg {
    fill: rgb(255, 255, 255);
    height: 35px;
    opacity: 1;
    width: 35px;
}
